{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    {% block head %}

    {% endblock head %}

    <title>my chat</title>
</head>
<body>
  <div>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible sticky-alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    
  </div>
  <a href="{% url 'logout' %}">logout</a>

  {% block content %}  

    

  {% endblock content %}  

  {% block extra_js %}

  {% endblock extra_js %}
</body>
</html>